@import '../../styles/media.scss';

.repos-table {

  & &__head {
    @include media-breakpoint(sm) {
      display: none;
    }
  }

  &__head &__cell {
    font-size: 16px;
    font-weight: 700;

    @include media-breakpoint(md) {
      font-size: 14px;
    }
  }

  & &__row {
    @include media-breakpoint(sm) {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        border-bottom: 1px solid #CCC;
      }
    }
  }

  & &__cell {
    @include media-breakpoint(sm) {
      display: flex;

      border: none;
    }

    &::before {
      display: none;

      @include media-breakpoint(sm) {
        content: attr(data-th);
        display: block;
        min-width: 120px;

        font-size: 14px;
        font-weight: 700;
      }
    }

    &--stars {
      text-align: center;

      @include media-breakpoint(sm) {
        width: 70px;

        text-align: start;
      }
    }

    &--license {
      text-align: end;

      @include media-breakpoint(sm) {
        width: 220px;

        text-align: start;
      }
    }
  }
}